snippet req
var ${1:module} = require('${2:moduleName}');
endsnippet

snippet ex
export {${1:object}} from '${2:location}';
endsnippet

snippet rc
class ${1:ComponentName} extends React.Component {
  render() {
    return (
	  ${2:JSX}
    );
  }
}
endsnippet
